---
http_interactions:
- request:
    method: get
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO ACCOUNT SID>/AvailablePhoneNumbers/US/Local.json?AreaCode=415
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM3NzE5NTg3ZGQ4NTUzNTExYzk5Y2YxNGQ0OTVkYTM0NTpkOTQxZTRhYjdlYjYxNmI3MzI3NWFmZDBiZDY0OGRlYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.175'
      Twilio-Request-Id:
      - RQ0a5044917faf4a04a15f3fed5136e7db
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"available_phone_numbers": [{"friendly_name": "(415) 969-2833", "phone_number":
        "+14159692833", "lata": "722", "rate_center": "SNFC CNTRL", "latitude": "37.774900",
        "longitude": "-122.419400", "locality": "San Francisco", "region": "CA", "postal_code":
        "94102", "iso_country": "US", "address_requirements": "none", "beta": false,
        "capabilities": {"voice": true, "SMS": true, "MMS": true, "fax": true}}, {"friendly_name":
        "(415) 423-1031", "phone_number": "+14154231031", "lata": "722", "rate_center":
        "SNFC CNTRL", "latitude": "37.774900", "longitude": "-122.419400", "locality":
        "San Francisco", "region": "CA", "postal_code": "94102", "iso_country": "US",
        "address_requirements": "none", "beta": false, "capabilities": {"voice": true,
        "SMS": true, "MMS": true, "fax": true}}, {"friendly_name": "(415) 801-0526",
        "phone_number": "+14158010526", [...]
