---
http_interactions:
- request:
    method: get
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO ACCOUNT SID>/Applications.json?FriendlyName=Call%20tracking%20app
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM3NzE5NTg3ZGQ4NTUzNTExYzk5Y2YxNGQ0OTVkYTM0NTpkOTQxZTRhYjdlYjYxNmI3MzI3NWFmZDBiZDY0OGRlYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.028'
      Twilio-Request-Id:
      - RQ5c608500e22a43988c23ef50ede3fa63
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"first_page_uri": "/2010-04-01/Accounts/<TWILIO ACCOUNT SID>/Applications.json?FriendlyName=Call+tracking+app&PageSize=50&Page=0",
        "end": 0, "previous_page_uri": null, "uri": "/2010-04-01/Accounts/<TWILIO
        ACCOUNT SID>/Applications.json?FriendlyName=Call+tracking+app&PageSize=50&Page=0",
        "page_size": 50, "page": 0, "applications": [], "next_page_uri": null, "start":
        0}'
  recorded_at: Fri, 23 Jun 2017 10:33:38 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO ACCOUNT SID>/Applications.json
    body:
      encoding: UTF-8
      string: FriendlyName=Call+tracking+app
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM3NzE5NTg3ZGQ4NTUzNTExYzk5Y2YxNGQ0OTVkYTM0NTpkOTQxZTRhYjdlYjYxNmI3MzI3NWFmZDBiZDY0OGRlYg==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.090'
      Twilio-Request-Id:
      - RQ221170e99c6b4907a1f629aa1d73dce9
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "APe39e67b56459410e9d2f6426125cb160", "date_created": "Fri,
        23 Jun 2017 10:33:39 +0000", "date_updated": "Fri, 23 Jun 2017 10:33:39 +0000",
        "account_sid": "<TWILIO ACCOUNT SID>", "friendly_name": "Call tracking app",
        "api_version": "2010-04-01", "voice_url": null, "voice_method": "POST", "voice_fallback_url":
        null, "voice_fallback_method": "POST", "status_callback": null, "status_callback_method":
        "POST", "voice_caller_id_lookup": false, "sms_url": null, "sms_method": "POST",
        "sms_fallback_url": null, "sms_fallback_method": "POST", "sms_status_callback":
        null, "message_status_callback": null, "uri": "/2010-04-01/Accounts/<TWILIO
        ACCOUNT SID>/Applications/APe39e67b56459410e9d2f6426125cb160.json"}'
  recorded_at: Fri, 23 Jun 2017 10:33:39 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO ACCOUNT SID>/IncomingPhoneNumbers.json
    body:
      encoding: UTF-8
      string: PhoneNumber=%2B14152339867&VoiceApplicationSid=APe39e67b56459410e9d2f6426125cb160
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM3NzE5NTg3ZGQ4NTUzNTExYzk5Y2YxNGQ0OTVkYTM0NTpkOTQxZTRhYjdlYjYxNmI3MzI3NWFmZDBiZDY0OGRlYg==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.161'
      Twilio-Request-Id:
      - RQ6f21e594750244ecb9821c83e89c8e29
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "PNa970a911b4571523008c737ef6715392", "account_sid": "<TWILIO
        ACCOUNT SID>", "friendly_name": "(415) 233-9867", "phone_number": "+14152339867",
        "voice_url": null, "voice_method": "POST", "voice_fallback_url": null, "voice_fallback_method":
        "POST", "voice_caller_id_lookup": false, "date_created": "Fri, 11 Sep 2015
        20:21:18 +0000", "date_updated": "Fri, 11 Sep 2015 20:21:18 +0000", "sms_url":
        "", "sms_method": "POST", "sms_fallback_url": "", "sms_fallback_method": "POST",
        "address_requirements": "none", "beta": null, "capabilities": {"voice": true,
        "sms": true, "mms": true}, "status_callback": "", "status_callback_method":
        "POST", "api_version": "2010-04-01", "voice_application_sid": null, "sms_application_sid":
        "", "trunk_sid": null, "uri": "/2010-04-01/Accounts/<TWILIO ACCOUNT SID>/IncomingPhoneNumbers/PNa970a911b4571523008c737ef6715392.json"}'

  recorded_at: Fri, 23 Jun 2017 10:33:39 GMT
recorded_with: VCR 3.0.3
